name: Deploy React App to Github Pages

on:
    push:
        branches:
            - master

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pages: write
            id-token: write
            
        steps:
          - name: Chekout repository
            uses: actions/checkout@v4

          - name: Set Up NODEJS
            uses: actions/Setup-node@v4
            with:
              node-version: '24'
          
          - name: Install dependencies
            run: npm install
          
          - name: Build React App
            run: npm run build

          - name: Deploy to Github Pages
            uses: peaceiris/actions-gh-pages@v4
            with:
              github_token: ${{secrets.GITHUB_TOKEN}}
              publish_dir: ./dist